<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maps demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="http://pixyll.com/css/pixyll.css" type="text/css">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Merriweather:900,900italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:900,300' rel='stylesheet' type='text/css'>
</head>

<body class="">
  <div class="site-wrap">
    <header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="http://pixyll.com" class="site-title">#yolo</a>
      <nav class="site-nav right">
        <a href="/about/">About</a>
<a href="/contact/">Contact</a>

      </nav>
      <div class="clearfix"></div>

    </div>
  </div>
</header>


    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <div class="home">

  <div class="posts">

      <div class="post">
        <a href="" class="post-link">
          <p class="post-meta">Jun 11, 2014</p>
          <h3 class="h2 post-title">Hello, World</h3>
          <p class="post-summary">« Il vient une heure où protester ne suffit plus : après la philosophie, il faut l’action. »</p>
        </a>
        <iframe src="/embed/iframe/{{ map.id }}" height="360"  width="100%" frameborder="0"></iframe>
        <br>
      </div>

      <div class="post">
        <a href="" class="post-link">
          <p class="post-meta">Jun 10, 2014</p>
          <h3 class="h2 post-title">#swag</h3>
          <p class="post-summary">Les tentatives de création de machines pensantes nous seront d'une grande aide pour découvrir comment nous pensons nous-mêmes. </p>
        </a>
      </div>


  </div>
</div>

      </div>
    </div>
  </div>



</body>
</html>
