
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dewey maps</title>


        <link rel="stylesheet" href="/static/snap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Special+Elite" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
    </head>
    <body>

        <div class="snap-drawers">
            <div id="snapsDrawer" class="snap-drawer snap-drawer-left small-10 medium-4 large-3">
                <div>
                    <div style="text-align: center;">"Bruxelles mode d'emploi" est proposé par <a href="http://dewey.be/">Dewey</a></div>
                    <ul class="accordion" data-accordion style="margin-left: 0px;">
                        {% for category in categories %}
                        <li class="accordion-navigation">
                            <a href="#panel{{category.id}}" style="background-color: #{{category.color}}">{{category.name}}</a>
                            <div id="panel{{category.id}}" class="content">
                                <div id="subcatvav">
                                    {% for subcategory in category.subcategory_set.all %}
                                    <div class="subcat" data-id="{{subcategory.id}}" show="">
                                        {{subcategory.name}}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="">
                    <a id="errorsuggest">
                        <i class="fi fi-plus"> </i>
                        Suggérer un point
                    </a>
                    </br>
                    <a href="/">
                        <i class="fi fi-loop"> </i>
                        Réinitialiser
                    </a>
                </div>

            </div>
        </div>
        </div>
        <div id="content" class="snap-content">
            <nav class="top-bar" data-topbar role="navigation">
                <section class="top-bar-section">
                    <ul class="title-area">
                        <li class="menu-icon "><a id="menuButton" href="#"><i class="fa fa-bars"></i></a></li>
                        <li class="name">
                            <h1>
                                <a href="http://www.dewey.be/explications">
                                    Bruxelles mode d’emploi
                                    <i class='fi fi-map'></i>
                                </a>
                            </h1>
                        </li>
                    </ul>
                </section>
            </nav>
            <div class="columns maprow"  id="map">
            </div>

            <div id="pointhelpModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
                <h2 id="modalTitle">Ajoutez un point sur la carte.</h2>
                <p>Pour ajouter un point, cliquez simplement sur la carte à l'endroit où vous désirez ajouter le point.</p>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>

            <div id="addPointModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
                <h2 id="modalTitle">Ajoutez un point sur la carte.</h2>
                <form id="addpoint">
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Nom
                                <input type="text" placeholder="Nom" name="name"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Site Web
                                <input type="text" placeholder="http://" name="web" />
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Téléphone
                                <input type="text" placeholder="Téléphone" name="phone"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <label>Adresse
                                <input type="text" placeholder="Adresse" name="adress" />
                            </label>
                        </div>
                    </div>
                    <div class="large-3 columns">
                        <label>Latitude
                            <input type="text" value="" disabled name="lat" />
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <label>Longitude
                            <input type="text" value="" disabled name="lon" />
                        </label>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Catégorie
                                <select name="category">
                                    {% for category in categories %}
                                    <option value="{{category.id}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <label>Description
                                <textarea rows="4" name="description" placeholder="Décrivez brièvement le point... (Facultatif)"></textarea>
                            </label>
                        </div>
                        <div class="large-6 columns">
                            <label>Sous-catégories</label>
                            <div id="subcatcheck">
                                {% for subcategory in subcategories %}
                                <div class="item">
                                    <input
                                     id="checkbox{{ subcategory.id }}"
                                     type="checkbox"
                                     data-cat="{{ subcategory.category_id }}"
                                     value="{{ subcategory.id }}"
                                     name="subcategory[]"
                                     >
                                     <label for="checkbox{{ subcategory.id }}" data-cat="{{ subcategory.category_id }}">
                                         {{ subcategory.name }}
                                     </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns"><br>
                            <em style="color: grey;">Les modifications n'apparaîtront pas immédiatement</em>
                        </div>
                        <div class="large-6 columns text-right">
                            <input class="button success" type="submit" value="Suggérer votre point">
                        </div>
                    </div>
                </form>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.accordion.js"></script>
        <script src="/static/minimarker.js"></script>
        <script src='/static/tinycolor.js'></script>

        <script src="/static/functions.js"></script>
        <script src="/static/main.js"></script>
        <script src="/static/snap.js"></script>
        <script type="text/javascript">
var width = document.getElementById('snapsDrawer').offsetWidth;
var snapper = new Snap({
    element: document.getElementById('content'),
    disable: 'right',
    tapToClose: false,
    maxPosition: width,
    minPosition: -width,
});
snapper.open("left");
$("#menuButton").click(function(){
    if( snapper.state().state=="left" ){
        snapper.close();
    } else {
        snapper.open('left');
    }
});
        </script>
        <script>
$(document).foundation({
    accordion: {
        // specify the class used for accordion panels
        content_class: 'content',
        // specify the class used for active (or open) accordion panels
        active_class: 'active',
        // allow multiple accordion panels to be active at the same time
        multi_expand: true,
        toggleable: true
    }
});
        </script>
        <script>
$('.subcat').each(function(i){
    $(this).click(function(){
        var id = $(this).attr("data-id");
        if(shown_subcat.indexOf("" + id) >= 0){
            remove(shown_subcat, id);
          }
          else {
            shown_subcat.push(id);
          }
          update_points();
    })
})
</script>
    </body>
</html>

