<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dewey maps</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Special+Elite" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <style type="text/css">
.top-bar .name h1 a{
  font-family: Special Elite;
  font-weight: 500;
  padding-top: 0.1em;
}

.top-bar .name h1 a .fi{
  font-size: 1.5em;
  vertical-align: bottom;
}

#menubar {
  left: 0;
  top: 2.8em;
  bottom: 0;
  position: fixed;
}

#menubar #errorsuggest {
  bottom: 0;
  position: fixed;
  background-color: #222;
  color: #eee;
  width: 100%;
  margin-left: -1em;
  padding: 0.7em;
  cursor: pointer;
}


#map {
  right: 0;
  top: 4em;
  bottom: 0;
  padding: 10px;
  position: fixed;
}
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js"></script>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><i class='fi fi-map'></i> Dewey Maps</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      {% for category in categories %}
        <li><a href="#" data-id="{{ category.id }}" class="category" style="background-color: #{{category.color}}">
          <i class="fa fa-recycle"></i> {{ category.name }}
        </a></li>
      {% endfor %}
    </ul>
  </section>
</nav>


<div class="small-12 medium-4 large-3 columns"  id="menubar">
  <div id="subcatvav">

  </div>
  <div id="errorsuggest">
    <i class="fi fi-plus"> </i>
    Suggérez un point
  </div>

</div>


<div class="small-12 medium-8 large-9 columns maprow"  id="map">
</div>

<div id="pointhelpModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Ajoutez un point sur la carte.</h2>
  <p>Pour ajouter un point, cliquez simplement sur la carte à l'endroit ou vous désirez ajouter le point.</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="addPointModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Ajoutez un point sur la carte.</h2>
  <form id="addpoint">
    <div class="row">
      <div class="large-12 columns">
        <label>Nom
          <input type="text" placeholder="Nom" name="name"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Site Web
          <input type="text" placeholder="http:// (Facultatif)" name="web" />
        </label>
      </div>
      <div class="large-6 columns">
        <label>Téléphone
          <input type="text" placeholder="Téléphone (Facultatif)" name="phone"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label>Adresse
          <input type="text" placeholder="Adresse (Facultatif)" name="adress" />
        </label>
      </div>
    </div>
    <div class="large-3 columns">
        <label>Latitude
          <input type="text" value="" disabled name="lat" />
        </label>
      </div>
      <div class="large-3 columns">
        <label>Longitude
          <input type="text" value="" disabled name="lon" />
        </label>
      </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Catégorie
          <select name="category">
            {% for category in categories %}
              <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
          </select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label>Description
          <textarea rows="4" name="description" placeholder="Décrivez brièvement le point... (Facultatif)"></textarea>
        </label>
      </div>
      <div class="large-6 columns">
        <label>Sous-catégories</label>
        <div id="subcatcheck">
          {% for subcategory in subcategories %}
            <input
              id="checkbox{{ subcategory.id }}"
              type="checkbox"
              data-cat="{{ subcategory.id }}"
              value="{{ subcategory.id }}"
              name="subcategory[]"
            >
            <label for="checkbox{{ subcategory.id }}" data-cat="{{ subcategory.id }}">
              {{ subcategory.name }}
            </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns"><br>
        <em style="color: grey;">Les modifications n'apparaitront pas immédiatement</em>
      </div>
      <div class="large-6 columns text-right">
        <input class="button success" type="submit" value="Suggégrez votre point">
      </div>
    </div>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script>
    $(document).foundation();
    var map = L.map('map').setView([50.83906, 4.35308], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'c4ptaincrunch.ka5engdh',
        accessToken: 'pk.eyJ1IjoiYzRwdGFpbmNydW5jaCIsImEiOiJUdWVRSENNIn0.qssi5TBLeBinBsXkZKiI6Q'
    }).addTo(map);

  function remove(arr, item) {
      for(var i = arr.length; i--;) {
          if(arr[i] === item) {
              arr.splice(i, 1);
          }
      }
  }

    var json_markers = [];
    var markers_group = new L.FeatureGroup();
    var shown_subcat = [];
    map.addLayer(markers_group);

    $.ajax({
        url: "/api/markers"
    }).done(function(response) {
        json_markers = response;
    });

    var show_cat = function(cat_id) {
      $('#subcatvav').empty();
      var category = categories[cat_id];
      for (var i = 0; i < category.subcategories.length; i++) {
        subcat = category.subcategories[i];
        $('#subcatvav').append(
          '<span data-selected="0" data-id="'
           + subcat.id
           + '" class="subcat">'
           + subcat.name
           + '</span>'
        )

        $('.subcat[data-id="' + subcat.id + '"]').click(function() {
          var state = $(this).attr("data-selected");
          if (state == '0'){
            shown_subcat.push($(this).attr('data-id'));
            $(this).attr("data-selected", '1');
          }
          else {
            remove(shown_subcat, $(this).attr('data-id'));
            $(this).attr("data-selected", '0');
          }
          update_points();
        });
      }
    }

    var update_points = function() {
        console.log("Updating points. Shown : [" + shown_subcat + "]");
        map.removeLayer(markers_group);
        markers_group = new L.FeatureGroup();
        map.addLayer(markers_group);
        for (var i = 0; i < json_markers.length; i++) {
            marker = json_markers[i];

            var ok = false;
            for (var j = 0; j < marker.subcategories.length; j++) {
              for (var k = 0; k < shown_subcat.length; k++) {
                if (marker.subcategories[j].id == shown_subcat[k]){
                  ok = true;
                }
              }
            }
            console.log(ok);
            if(ok == true){
              console.log("Adding " + marker.name);
              L.marker([marker.lat, marker.lon])
                .bindPopup(marker.comment)
                .on("click", function(e) {
                    map.panTo(e.latlng);
                })
                .addTo(markers_group);
            }
        }
    }

    var categories = {};

    $.ajax({
        url: "/api/categories"
    }).done(function(response) {
        for (var i = 0; i < response.length; i++) {
            var cat = response[i];
            categories[cat.id] = cat;
            $('.category[data-id=' + cat.id + ']').click(function() {
              show_cat($(this).attr('data-id'));
              return false;
            });
        }
        show_cat(1);
    });



    $('#subcatcheck input').hide()
    $('#subcatcheck label').hide()

    $('select[name=category]').change(function() {
      cat_id = $('select[name=category] > option:selected').val();
      $('#subcatcheck input').hide()
      $('#subcatcheck label').hide()
      $('#subcatcheck input[data-cat=' + cat_id + ']').show()
      $('#subcatcheck label[data-cat=' + cat_id + ']').show()
    })

    $('#errorsuggest').click(function() {
        $('#pointhelpModal').foundation('reveal', 'open');

        map.once('click', function(e) {
          $('#addPointModal').foundation('reveal', 'open');
          $('input[name=lat]').val(e.latlng.lat);
          $('input[name=lon]').val(e.latlng.lng);
        });
    })

    $('#addpoint').submit(function() {
      $.ajax(
        {
          url: "/addmarker",
          type: "POST",
          data: {
            name: $("#addpoint input[name='name']").val(),
            web: $("#addpoint input[name='web']").val(),
            phone: $("#addpoint input[name='phone']").val(),
            adress: $("#addpoint input[name='adress']").val(),
            lat: $("#addpoint input[name='lat']").val(),
            lon: $("#addpoint input[name='lon']").val(),
            description: $("#addpoint textarea[name='description']").val(),
            subcat: $.map($(':checkbox[name=subcategory\\[\\]]:checked'), function(n, i){
                          return n.value;
                    }).join(',')
          }
        }
      ).done(function(response){
        $('#addPointModal').foundation('reveal', 'close');
        alert("Votre point a été ajouté !");
        // TODO : reset form
      }).fail(function(r) {
        alert("Le formulaire n'est pas bien rempli");
      });
      return false;
    })

  </script>
</body>
</html>
