<!DOCTYPE html>
<html>
{% load leaflet_tags %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


<script type="text/javascript">
    map_id = "{{map.id}}";

    function map_init (map, options) {
      $.ajax({
        url: "/api/maps/" + map_id
      }).done(function(ret) {
        for (var i in ret.markers) {
            marker = ret.markers[i];
            L.marker([marker.lat, marker.lon]).addTo(map);
        }
      });
    }
</script>

</head>

<body>
{{map.name}}

{% leaflet_map "frame" callback="window.map_init" %}

<ul>
{% for marker in map.marker_set.all %}
  <li>{{marker.name}}</li>
{% endfor %}
</ul>
</body>
</html>
